body {
  background: url(/imagenes/logo.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}
h1 {
  color: black;
}
h2 {
  color: blueviolet;
  font-size: x-large;
}

.two {
  width: 5%;
  height: 50px;
  background: rgb(253, 213, 241);
  margin: 20px 20px;
  padding: 28px;
  border: 2px solid rgb(237, 159, 216);
  display: inline-block;
}
.tree {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif font-size xx-large;
}
.for {
  color: forestgreen;
}

#message_form {
  color: rgb(235, 23, 154);
  font-style: oblique;
  font-weight: bold;
}

button {
  background-color: #9a5dc3;
  border: 2px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
}

header {
  /* width: 20px; */
  min-height: 70px;
  clear: both;
  content: " ";
  /* display: table; */
}

/* .menu {
  width: 990px;
} */

img {
  width: 120px;
  height: auto;
  display: block;
  border-radius: 20px;
  float: left;
  padding: 8px;
}

nav ul li {
  list-style: none;
  margin-right: 75px;
  padding: 5px 0;
  /* float: right; */
  border-radius: 3px;
}

nav ul li  {
  text-decoration: none;
  font-weight: 650;
  /* justify-content: space-between; */
  /* height: 70px; */
  /* margin: 0px; */
  /* align-items: center; */
  padding-right: 25px;
}

li a.menu,
li a:hover {
  background: rgb(237, 159, 216);
  transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.flex {
  line-height: 25px;
  border: 1px solid whitesmoke;

  padding: 10px;
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: 0 auto;
  float: inline-start;
}

.caja {
  background-color: rgb(246, 237, 238);
  width: 75%;
  height: 480%;
  position: static;
  top: 10px;
  left: 45px;
  display: inline-block;
  margin: 15px 15px;
  border: 4px solid rgb(237, 159, 216);
}

.navlist{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .caja {
    background-color: red;
  }
}
