body {
  background: url(/imagenes/logo.JPG);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
}
h1 {
  color: black;
}
h2 {
  color: blueviolet;
  font-size: x-large;
}
.one {
  border: 2px solid rgb(237, 159, 216);
  background: rgb(253, 213, 241);
}

.two {
  width: 5%;
  height: 50px;
  background: rgb(253, 213, 241);
  margin: 20px 20px;
  padding: 28px;
  border: 2px solid rgb(237, 159, 216);
  display: inline-block;
}
.tree {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif font-size xx-large;
}
.for {
  color: forestgreen;
}

#message_form {
  color: rgb(235, 23, 154);
  font-style: oblique;
  font-weight: bold;
}

button {
  background-color: #9a5dc3;
  border: 2px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

img {
  width: 90px;
  height: auto;
  display: block;
  border-radius: 20px;
}

.caja {
  background-color: rgb(248, 160, 227);
  width: 20%;
  height: 480%;
  position: static;
  top: 10px;
  left: 15px;
  display: inline-block;
  margin: 20px 20px;
  border: 4px solid rgb(230, 223, 228);
  font-weight: bolder;
}

@media screen and (max-width: 480px) {
}
